.root{
    padding: 7% 0;
    /*font-size: 48px;*/
    color: #fff;
    background: darkblue url("../../../assets/cirkle2.jpg") no-repeat center top/cover;
}
.paper{
    margin: -6% auto 2%;
    padding: 1.5%;
}
.tabpanel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}