.root{
    margin: 7% 0 8%;
}
.root svg{
    color: #0b6eb0;
}
@media screen and (max-width: 700px) {
.subtitle{
    font-size: 25px!important;
}
    .title{
        font-size: 35px!important;
    }
}
@media screen and (max-width: 500px) {
    .title{
        font-size: 25px!important;
    }
    .subtitle{
        font-size: 20px!important;
    }
}